<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
</head>

<body>
    <header>HEADER</header>
    <div>
        <partial name ="_LoginForm" model = "3"/>
        @RenderBody()
        <partial name="_LoginForm" model = "2"/>
    </div>
    <footer>FOOTER</footer>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>