@{
    ViewBag.Title = "Create Car";
    ViewBag.FormType = "Create";
}
@*Renders the carForm and sends FormType to the CarForm.*@
<div>
    <h2>Create Car</h2>
    <partial name ="_CarForm" />
</div>